@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-color-dark: #212529;
  --text-color: #333;
  --theme-color: #e9a218;
  --shadow-color: #00000055;
  --theme-bg-color: #e9a218;
  --bg-color: #f3f3f3;
  --subtle-text: #858585;
}

* {
  font-family: 'Poppins';
}

a {
  color: unset;
  text-decoration: unset;
}

.main-nav {
  box-shadow: 5px 5px 10px var(--shadow-color);
  color: var(--text-color);
}

.logo {
  font-size: 36px;
  color: var(--theme-color);
}

.main-nav ul button {
  border: none;
  padding: 10px;
  width: 8rem;
  border-radius: 50px;
  background-color: var(--theme-color);
  color: #fff;
  transition: .3s;
  
}

.main-nav ul button:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

.main-nav ul li a {
  transition: .3s;
}

.main-nav ul li a:hover {
  color: var(--theme-color);
}

.post-preview, .uwuwuwu {
  margin: 20px;
}

.card {
  transition: .3s ease;
}

.card:hover {
  transform: translateY(-3%);
  cursor: pointer;
}

.card-text {
 color: var(--subtle-text);
}

.card-title {
  font-size: 30px;
  font-weight: 500;
}

#navdd {
  justify-content: flex-end;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
}

.likes {
  width: 2rem;
  height: 2rem;
  background: url(/public/like.svg);
  background-repeat: no-repeat;
}

.comments {
  background: url(/public/comment.svg);
  width: 2rem;
  height: 2rem;
}

.statistics {
  height: inherit;
  display: flex;
  gap: 1rem;
}

.login-form {
  background-color: var(--text-color-dark);
  width: 25rem;
  height: 30rem;
  padding: 1rem;
  border-left: 5px solid var(--theme-bg-color);
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.switch-logo {
  width: 2rem;
  height: 2rem;
  transition: .5s ease-in-out;
  background: url(/public/moon.svg) no-repeat;
}

.switch-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.login-form button {
  border: none;
  background-color: var(--theme-bg-color);
  color: #fff;
  padding: .5rem;
  border-radius: 50px;
  transition: .3s;
}

.login-form button:hover {
  background-color: var(--text-color);
}

.extra span {
  display: block;
  font-size: .9rem;
  color: var(--subtle-text);
  margin-top: .5rem;
}

.extra a {
  text-decoration: underline;
}

.post-preview:hover {
  box-shadow: 3px 3px 10px var(--shadow-color);
}

.page-title {
  font-size: 42px;
}

main {
  gap: 0;
}

.footer {
  background-color: var(--theme-bg-color);
  color: #fff;
}

.posts .btn {
  background-color: var(--theme-bg-color);
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.posts .btn:hover {
  background-color: var(--text-color);
}

.login-wrap {
  z-index: 9999;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  margin: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: url(/public/x.svg);
  margin-top: -0.4rem;
}

.cross:hover {
  cursor: pointer;
}